*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* PAGINA PRINCPAL*/
#Inicio nav {
    display: flex;
    float: right;
    padding-top: 2%;
    margin-right: 22.5%;
    margin-bottom: -5%;
}
#Inicio nav a {
    padding: 0 5%;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 3px solid #6C3016;
    margin-left: 10%;
}
#Inicio div.container div{
    width: 35%;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
}
#Inicio div.container div.container_1{
    border: 3px solid black;
    margin: 4% 5% 2% 10%;
    padding: 2% 0 4%;
}
#Inicio div.container div p{
    text-align:center; 
    width: 87%;
    margin-bottom: 3%;
}
#Inicio .container_1 img{
    width: 37%;
    margin: -15% 0 5%;
}
#Inicio .container_1 h2 {
    margin-bottom: 5%;
}
#Inicio .container_1 a {
    margin: 3% auto ;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
#Inicio .container_1 a button {
    background-color: #4C4C4E;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    padding: 2% 0;
}
#Inicio .container_1 a span {
    color: white;
}
#Inicio .container_2 img {
    width: 90%;
}
#Inicio .container_2 {
    margin: 5% 2% 0;
}

/*part_1*/
.icono {
    width: 6%;
    position: absolute;
    top: 2%;
    left: 15%;
}
#part_1 {
    width: 100%;
    overflow:hidden;
}
#part_1 nav { 
    width: 100%;
    margin: 2% 25% 2.5%;
}
#part_1 nav a {
    padding: 4%;
}
#part_1 nav a button {
    background-color: #782E11;
    color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 1%;
}
#part_1 hr{
    border: #782E11 2px solid;
    width: 35%;
    margin: -2% 0 2% 5%;
}
h1{
    text-align: center;
}
#part_1 .container{
    margin-left: 12%;
}
#part_1 div.container_1 {
    width: 23%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    cursor: pointer
}
#part_1 div.container_1.activa{
    width: 25%;
    margin-top: -0.2%;
}
#part_1 h1 {
    font-size: 2rem;
}
#part_1 .container_1 , .container_2 h2 {
    font-size: 1.5rem;
    margin: 1% 0;
}
#part_1 .container_1 img {
    width: 93%;
    margin: 3% 0;
}
#part_1 .container_1 fieldset {
    border: none;
    padding: 3% 0;    
}
#part_1 .container_1 fieldset label {
    padding: 3% 0;    
}
#part_1 .siguiente {
    background-color: #4C4C4E;
    color: white;
    border-radius: 20px;
    width: 15%;
    height: 100%;
    padding: 0.8% 0;
    margin: 1% 20% 0 40%;
}
#part_1 .container_2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    cursor: pointer;
}
#part_1 .container_2 img {
    width: 95%;
    border: 2px solid black;
    padding: 3%;
}
#part_1 .container_2.activa img {
    width: 100%;
    margin: -5%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px; 
    text-align: center;
    width: 85%;
    margin: 2% 0 0 2%;
}
.grid-item {
    border: 2px solid black;
    padding: 3%;
    margin: 4%;
    cursor: pointer;
    background: url(Imagenes/Fondo_bebidas.png) no-repeat ;
    background-size: cover;
    background-position: 0 50%;
}
.Bebidas .grid-container p {
    font-size: 2rem;
    margin: 0 150%;
}
.generarFactura {
    background-color: #4C4C4E;
    color: white;
    border-radius: 20px;
    width: 15%;
    height: 100%;
    padding: 0.8% 0;
    margin: 1% 20% 0 40%;
}

/*Factura*/

.factura {
    border: black solid 3pt;
    margin: 4% 10% ;
}

.factura h2 {
    margin: 2% 0 0 10%;
}
.factura h1 {
    margin-top: -1.5%;
    background-color: white;
    width: 15%;
    margin-left: 40%;
}
.codigo_qr {
    display: flex;
    float: right;
    margin-top: -2%;
}
.codigo_qr img {
    width: 40%;
    translate: 80% -100%;
}
#selecciones{
    margin: 2% 0 0 10%;
}
.factura .logo {
    width: 17%;
    translate: 240% 40%;   
}