@font-face {
    font-family: Vintage;
    src: url(Font/Vintage.otf);
}
@font-face {
    font-family: Helvetica;
    src: url(Font/Helvetica.ttf);
}
h1{
    font-family: Vintage;
    font-size: 1.7rem;
}
h2{
    font-family: Helvetica;
    font-size: 1.5rem;
}
span{
    font-family: Helvetica;
    font-size: 1.2rem;
}
p, label, a{
    font-family: Helvetica;
    font-size: 1rem;
}